/* Modo claro - Efecto luces de estudio sutil */
body {
    background: radial-gradient(rgb(254, 254, 254), rgba(146, 65, 129, 0.2));
    color: #000;
}

/* Barra de navegación y botones personalizados */
.navbar,
footer {
    background-color: rgba(255, 255, 255, 0.9) !important;
    backdrop-filter: blur(8px);
}

.nav-link {
    position: relative;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #007bff;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

.nav-link:hover {
    color: #007bff;
}

.nav-link:hover::after {
    width: 100%;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #2f2fe9;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2f2fe9;
}

body {
    padding-top: 70px;
    scrollbar-width: thin;
    scrollbar-color: #2f2fe9 #f1f1f1;
}