/* Modo claro - Efecto luces de estudio sutil */
body {
    background: #fff;
    color: #000;
    /* Texto negro por defecto */
    transition: background 0.5s ease;
}

/* Modo oscuro - Efecto luces de estudio sutil */
body.dark {
    background: linear-gradient(180deg, rgba(18, 18, 18, 0.9) 0%, rgba(25, 25, 25, 0.9) 50%, rgba(18, 18, 18, 0.9) 100%);
    color: #fff;
    /* Texto blanco en modo oscuro */
    transition: background 0.5s ease;
}

/* Barra de navegación y botones personalizados */
.navbar,
footer {
    background-color: rgba(255, 255, 255, 0.9) !important;
    backdrop-filter: blur(8px);
    /* Efecto blur */
    transition: background 0.5s ease;
}

.nav-link {
    position: relative;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #007bff;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

.nav-link:hover {
    color: #007bff;
}

.nav-link:hover::after {
    width: 100%;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #2f2fe9;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2f2fe9;
}

/* Ajuste para el espaciado en contenido con navbar fijo */
body {
    padding-top: 70px;
    scrollbar-width: thin;
    scrollbar-color: #2f2fe9 #f1f1f1;
}

/* Modo oscuro para la barra de navegación (nav) */
body.dark .navbar {
    background-color: rgba(31, 31, 31, 0.8) !important;
    /* Fondo oscuro */
    border-bottom: 1px solid #333 !important;
}

body.dark .navbar a.nav-link {
    color: #ffffff !important;
    /* Texto blanco */
}

body.dark .navbar .btn-outline-primary {
    color: #ffffff !important;
    border-color: #ffffff !important;
}

body.dark .navbar .btn-outline-primary:hover {
    background-color: #ffffff !important;
    color: #1f1f1f !important;
}

body.dark footer {
    background-color: rgba(31, 31, 31, 0.8) !important;
    /* Fondo oscuro */
    color: #ffffff !important;
}


.text-gradient {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    -webkit-background-clip: text;
    color: transparent;
}

.card-body {
    position: relative;
}

.card-body p {
    color: #6c757d;
}

.bg-form-column {
    border-radius: 0 20px 20px 0;
    object-fit: cover;
    height: 80vh;
}

.card {
    border-radius: 20px;
    overflow: hidden;
    /* Esto asegura que la imagen siga el borde redondeado */
}

.shadow {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    /* Mejora el efecto de sombra */
}

/* Modifica el viewport menos el espcio ocupado por el nadvar */
.min-vh-100-custom {
    min-height: calc(100vh - 70px) !important;
}
